$text-3xl: 30px;
$text-2xl: 24px;
$text-22: 22px;
$text-xl: 20px;
$text-lg: 18px;
$text-15: 15px;
$text-sm: 14px;
$text-13: 13px;
$text-xs: 12px;


$font-bold: 700;
$font-medium: 500;
$font-normal: 500;


    
