@import url("https://cdn.jsdelivr.net/npm/plusplusjakartasans@1.0.0/plusjakartasans.min.css");

@import "../scss/fonts";

@import "../scss/variable";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: normal;
    font-weight: 400px;
    font-size: 15px;
}
a{
    text-decoration: none;
}


// Font-Size
text-11{
    font-size: 11px;
}
text-xs{
    font-size: 12px;
}
text-13{
    font-size: 13px;
}
text-sm{
    font-size: 14px;
}
text-15{
    font-size: 15px;
}
text-base{
    font-size: 16px;
}
text-lg{
    font-size: 18px;
}
text-xl{
    font-size: 20px;
}
text-2xl{
    font-size: 24px;
}
text-3xl{
    font-size: 30px;
}
text-4xl{
    font-size: 36px;
}
// End Font-Size