// Scrollbar
.right-wrapper::-webkit-scrollbar{
    width: 2px;
    height: 2px;    
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: $btn-border-color;
    border-radius: 6px;
    &:hover{
        background-color: $text-light-grey;
    }
}
// End Scrollbar

// Right-Aside
.right-wrapper{
    width: 298px;
    background-color: $aside-bg-color;
    padding: 20px 17px 20px 19px;
    border-left: 1px solid $border-color;
    overflow-y: auto;    
    &--title{
        font-size: $text-xs;
        font-weight: $font-bold;
        text-transform: uppercase;
    }
}
.action{
    width: 100%;
    margin-bottom: 24px;
    &__title{
        margin-bottom: 11px;
        display: flex;
        justify-content: space-between; 
        align-items: flex-end;
    }
    .view-download-button{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 7px;
        button{
            width: 48%;
        }
        .btn--view{
            transition: all .3s ease-in;
            &:hover{
                background-color: $color-white;
                color: $color-blue;
                border: 1px solid $btn-border-color;
            }
        }
        .btn--download{
            transition: all .3s ease-in;
            &:hover{
                background-color: $color-white;
                color: $color-blue;
                border: 1px solid $btn-border-color;
            }
        }
    }
}
.save-archive-button{
    button:first-child{
    margin-bottom: 7px;
    }
    .btn--save{
        transition: all .3s ease-in;
        &:hover{
            background-color: rgb(231, 225, 225);
            color: $color-white;
            border: 1px solid $btn-border-color;
        }
    }
    .btn--archive{
        transition: all .3s ease-in;
        &:hover{
            background-color: rgb(231, 225, 225);
            color: $color-white;
            border: 1px solid $btn-border-color;
        }
    }
}
.people-added-title{
    margin-bottom: 14px;
}
.people-added{
    width: 100%;
    margin: 0 24px 36px 2px;
    margin-bottom: 36px;
    &__cord{
        width: 100%;
        background-color: $color-white;
        box-shadow: $people-add-shadow;
        border-radius: $border-radius;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        padding: 11px 20px 10px 10px;
    }
    &__logo{
        position: relative;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: $text-13;
        font-weight: $font-bold;
        color: $people-text-color;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 7px;
        text-transform: uppercase;
        &::before{
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: $people-logo-bg;
            opacity: 0.3;
            top: -2px;
            left: 2px;
        }
    }
    &__name{
        width: 100%;
        font-size: $text-sm;
        font-weight: $font-bold;
        color: $theme-dark;
        margin-bottom: 2px;
    }
    &__mail{
        display: inline;
        width: 80px;
        font-size: $text-13;
        color: $light-text;

    }
}
.email-message-title{
    margin-bottom: 16px;
}
.email-message{
    width: 100%;
    font-size: $text-sm;
    font-weight: $font-normal;
    background-color: $color-white;
    padding: 14px 23px 17px 16px;
    border-radius: $border-radius;
    color: $theme-dark;
    line-height: 18px;
    margin-left: 2px;
    &__heading-1{
        color: $light-text; 
        margin-bottom: 4px;
    }
    &__subject{
        margin-bottom: 14px;
    }
    &__heading-2{
        color: $light-text; 
        margin-bottom: 6px;
    }
    &__message{
        font-size: $text-sm;
    }
}

// End Right-Aside

